*.exe
# Ignorar arquivos de build do Visual Studio
.vs/
bin/
obj/

# Ignorar arquivos de configuração do Visual Studio
*.user
*.suo
*.userosscache
*.sln.docstates


.vscode/settings.json
.vscode/c_cpp_properties.json
.vscode/settings.json
Andre/ProgC\#/aula_2024_11_20/Calculadora_APR/obj/Debug/net9.0/Calculadora_APR.AssemblyInfo.cs
Andre/ProgC\#/aula_2024_11_20/Calculadora_APR/obj/Debug/net9.0/Calculadora_APR.AssemblyInfo.cs
Andre/ProgC\#/aula_2024_11_20/Calculadora_APR/obj/Debug/net9.0/Calculadora_APR.AssemblyInfoInputs.cache
Andre/ProgC\#/aula_2024_11_20/PrimProgCS_APR/obj/Debug/net9.0/PrimProgCS_APR.AssemblyInfo.cs
Andre/ProgC\#/aula_2024_11_20/PrimProgCS_APR/obj/Debug/net9.0/PrimProgCS_APR.AssemblyInfoInputs.cache
